.pms-form--filters {
	@extend .clear;
	float: left;
	margin-bottom: 3em;

	.pms-form__row {
		display: inline-block;
		vertical-align: bottom;
		margin: 0;
		margin-right: 1em;
	}

	.pms-form__label {
		display: block;
	}

	input[type="submit"] {
		padding: 12px 22px;
	}
}

.pms-form--filters ~ .pms-action-row {
	margin: 0;
}
